@import url(https://fonts.googleapis.com/css?family=Noto%20Sans%20Mono:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=DM%20Serif%20Display:400,300,300italic,400italic,700,700italic);
@keyframes white-to-orange-text-shadow {
  0% {
    text-shadow: 0.25rem 0.25rem #fcf1d9;
  }
  25% {
    text-shadow: 0.5rem 0.5rem #FFA500;
  }
  75% {
    text-shadow: 0.25rem 0.25rem #fcf1d9;
  }
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-image: linear-gradient(45deg, #fc7e00, #FFA500);
}

body {
  top: 0;
  margin: 0;
  font-family: "Noto Sans Mono", Helvetica, sans-serif;
}

body > div {
  margin: 0 auto;
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
  background-color: #fcf1d9;
}
@media only screen and (min-width: 33.75em) {
  body > div {
    width: 80%;
  }
}
@media only screen and (min-width: 60em) {
  body > div {
    width: 75%;
    max-width: 60rem;
  }
}

header, footer {
  display: flex;
}
header > section, footer > section {
  flex-basis: 100%;
}

header, main, footer {
  border-style: solid;
  border-color: #0000FF;
  border-width: 0.0625rem;
  color: #0000FF;
  border-top-width: 0;
}
header section:first-child, main section:first-child, footer section:first-child {
  border-width: 0;
}
header > section, main > section, footer > section {
  border-style: solid;
  border-color: #0000FF;
  border-width: 0.0625rem;
  border-width: 0 0 0 0.0625rem;
}

header section:first-child {
  text-align: center;
  margin: auto;
  content: "";
  padding-right: 1em;
  background: no-repeat url('data:image/svg+xml,	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> 		<g style="stroke:rgb(35,82,124);stroke-width:1"> 			<line x1="5" y1="5" x2="5" y2="14" /> 			<line x1="14" y1="9" x2="14" y2="14" /> 			<line x1="5" y1="14" x2="14" y2="14" /> 			<line x1="5" y1="5" x2="9" y2="5"  /> 			<line x1="10" y1="2" x2="17" y2="2"  /> 			<line x1="17" y1="2" x2="17" y2="9" /> 			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> 		</g> 	</svg>');
}
header section:first-child > h1 {
  font-size: 3.125rem;
}
header section:last-child h1 {
  margin: 0;
  padding: 0.5rem;
}
header section:last-child h3 {
  font-style: italic;
  font-family: "DM Serif Display", Helvetica, sans-serif;
  font-weight: 300;
  animation-name: white-to-orange-text-shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  padding: 0.5rem;
  margin: 0;
}

main {
  padding: 0.0625rem 0.9375rem;
}
main h2 {
  font-style: italic;
  font-family: "DM Serif Display", Helvetica, sans-serif;
  font-weight: 300;
  animation-name: white-to-orange-text-shadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
main p {
  padding: 0 1.5625rem;
  font-size: 1.25rem;
}
main p:last-child {
  padding-left: 0;
  padding-top: 1.5625rem;
  text-align: center;
}

footer {
  background-color: #0000FF;
}
footer > section {
  background-color: #fcf1d9;
  border-radius: 100px;
  text-align: center;
  height: 3.125rem;
  line-height: 3.125rem;
}
footer > section > span {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body > div > section {
  padding-top: 0.625rem;
  text-align: center;
}

a[target=_blank]::after {
  content: "";
  padding-right: 1em;
  background: no-repeat url('data:image/svg+xml,	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> 		<g style="stroke:rgb(0,0,255);stroke-width:1"> 			<line x1="5" y1="5" x2="5" y2="14" /> 			<line x1="14" y1="9" x2="14" y2="14" /> 			<line x1="5" y1="14" x2="14" y2="14" /> 			<line x1="5" y1="5" x2="9" y2="5"  /> 			<line x1="10" y1="2" x2="17" y2="2"  /> 			<line x1="17" y1="2" x2="17" y2="9" /> 			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> 		</g> 	</svg>');
}

/*# sourceMappingURL=about-me.css.map */
